@import "../../styles/_variables.scss";

.srv.srv--home-page {
  padding-top: 64px;

  .srv.srv--home-logo {
    margin-top: 128px;
    margin: auto;
    display: block;
    min-width: 128px;
    max-width: 128px;
  }

  .srv.srv--title {
    font-family: "Bangers", sans-serif;
    color: $primary-color;
    font-size: 64px;
    line-height: 64px;
    font-weight: 900px;
    margin: 0;
    text-align: center;
  }

  .srv.srv--desc {
    font-family: "Lato Light", sans-serif;
    color: $fourth-color;
    font-size: 20px;
    font-weight: 700;
    margin: auto;
    text-align: center;
  }

  .srv--start-button {
    font-family: "Bangers", sans-serif;
    background-color: $white;
    color: $secondary-color;
    font-size: 32px;
    text-transform: none;
    margin-top: 24px;
  }

  @media (min-width: 600px) {
    padding-top: 64px;

    .srv.srv--home-logo {
      min-width: 164px;
      max-width: 164px;
    }

    .srv.srv--title {
      font-size: 128px;
      line-height: 128px;
      margin: auto;
      margin-top: 36px;
    }

    .srv.srv--desc-wrap {
      margin: auto;
      margin-bottom: 8px;
      padding: 0;
    }

    .srv.srv--desc {
      font-size: 32px;
      margin: 16px;
      padding: 0;
    }
  }
}
